@model IEnumerable<Supermercado_APP.Models.tblProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prd_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_PrecioCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prd_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCategoria.Cat_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProveedore.Pro_Empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_PrecioCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_PrecioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_Imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prd_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsuario.Usu_UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsuario1.Usu_UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCategoria.Cat_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProveedore.Pro_Empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Prd_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Prd_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Prd_Id })
        </td>
    </tr>
}

</table>
