@model Supermercado_APP.Models.tblVentaEncabezado


@{
    ViewBag.Title = "Crear Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-row">

    @Html.Partial("_Personas")
    <div class="col-md-12" style="margin-top: 10px">
        <h2>Encabezado</h2>
        <hr />
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-4">
        @Html.LabelFor(model => model.VentEnc_NumFactura, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="form-group">
            @Html.EditorFor(model => model.VentEnc_NumFactura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VentEnc_NumFactura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.VentEnc_Fecha, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            <input type="date" class="form-control" id="VentEnc_Fecha" name="VentEnc_Fecha" value="" />
            @*@Html.EditorFor(model => model.VentEnc_Fecha, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.VentEnc_Fecha, "", new { @class = "text-danger" })
            
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.VentEnc_Total, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            @Html.EditorFor(model => model.VentEnc_Total, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VentEnc_Total, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 10px">
        <h2>Detalle</h2>
        <hr />
    </div>

    @Html.Partial("_ventaDetalle")

    <div class="col-md-12">
        <hr />
    </div>

    <div class="col-md-offset-2 col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Registrar Compra" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</div>
}
<hr />
<div class="col-md-3">
    @Html.ActionLink("< Regresar", "Index")
</div>