@model Supermercado_APP.Models.tblVentaEncabezado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblVentaEncabezado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VentEnc_NumFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentEnc_NumFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentEnc_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentEnc_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentEnc_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentEnc_Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentEnc_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentEnc_Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentEnc_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentEnc_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentEnc_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentEnc_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblPersona.Per_Identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPersona.Per_Identidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
