@model IEnumerable<Supermercado_APP.Models.tblVentaEncabezado>

@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Nuevo", "Create", null, new {@class = "btn btn-info"})
</p>
<hr />
<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VentEnc_NumFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentEnc_Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentEnc_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblPersona.Per_Identidad)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VentEnc_NumFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VentEnc_Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VentEnc_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblPersona.Per_Identidad)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.VentEnc_Id }, new {@class = "btn btn-info"}) |
                    @Html.ActionLink("Detaille", "Details", new { id = item.VentEnc_Id }, new { @class = "btn btn-default" }) |
                    <button class="btn btn-danger">Desactivar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
