@model IEnumerable<Supermercado_APP.Models.tblProveedore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_RepNombreS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_RepPriApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_RepSegApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_TelFijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_TelMovil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_PaginaWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblDireccione.Dir_Sector)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_RepNombreS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_RepPriApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_RepSegApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_TelFijo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_TelMovil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_PaginaWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsuario.Usu_UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsuario1.Usu_UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblDireccione.Dir_Sector)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pro_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pro_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pro_Id })
        </td>
    </tr>
}

</table>
