@model Supermercado_APP.Models.tblPersona


<h2>Datos del Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-row">
    <div class="col-md-12">
        <hr />
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_Identidad, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_Identidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_Identidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_Rtn, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_Rtn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_Rtn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_Nombres, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_Nombres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_Nombres, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_PrimerApellido, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_PrimerApellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_SegundoApellido, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_SegundoApellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Dir_Id, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="form-group">
            @Html.EditorFor(model => model.Dir_Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dir_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_Sexo, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="form-group">
            <div style="display: flex; justify-content:space-between; align-items: center; padding: 5px 80px">
                <div>
                    <input type="radio" name="Per_Sexo" value="M" />
                    <label>Masculino</label>
                </div>

                <div>
                    <input type="radio" name="Per_Sexo" value="F" />
                    <label>Femenino</label>
                </div>
            </div>
            @*@Html.EditorFor(model => model.Per_Sexo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_Sexo, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_Telefono, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_Telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(model => model.Per_Correo, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="form-group">
            @Html.EditorFor(model => model.Per_Correo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Per_Correo, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
}
