@model IEnumerable<Supermercado_APP.Models.tblventadetalle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_Impuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentDet_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProducto.Prd_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblVentaEncabezado.VentEnc_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_Impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentDet_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsuario.Usu_UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsuario1.Usu_UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProducto.Prd_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblVentaEncabezado.VentEnc_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VentDet_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.VentDet_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VentDet_Id })
        </td>
    </tr>
}

</table>
