@model Supermercado_APP.Models.tblCompra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cop_NumFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cop_NumFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cop_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cop_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cop_Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cop_Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cop_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cop_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cop_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cop_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cop_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cop_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario.Usu_UsuarioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario1.Usu_UsuarioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProducto.Prd_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProducto.Prd_Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cop_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
